<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>I-Blogify | Blog</title>
    <style>
      /* Initially hide the blog-page-form */
      .blog-page-form {
        display: none;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="blog-page">
      <div class="container mt-4">
        <h1><%= blog && blog.title %></h1>
        <img
          src="<%= blog && blog.coverImageURL %>"
          width="700px"
          height="380px"
        />
        <% const userId = locals.user._id.toString(); %> <% const blogCreatorId
        = blog?.createdBy._id.toString(); %> <% if(userId === blogCreatorId) {
        %>
        <button class="delete-button" data-blog-id="<%= blog && blog._id %>">
          Delete
        </button>

        <button class="edit-button" data-blog-id="<%= blog && blog._id %>">
          Edit
        </button>
        <% } %>

        <div class="mt-3"><%= blog && blog.body %></div>
      </div>

      <div class="container mt-4">
        <h5>Author :</h5>
        <img src="<%= blog && blog.createdBy.profileImageURL %>" width="50px" />
        <%= blog && blog.createdBy && blog.createdBy.name %>
      </div>

      <div class="container mt-3">
        <h1>Comments (<%= comments.length %>)</h1>
        <% if (locals.user) { %>
        <form action="/blog/comment/<%= blog._id %>" method="post">
          <div class="mb-3">
            <input
              type="text"
              name="content"
              class="form-control"
              placeholder="Enter your comment"
            />
            <button class="btn btn-sm btn-primary" type="submit">Add</button>
          </div>
        </form>
        <% } %>
        <div class="mt-3">
          <% comments.forEach(comment => { %>
          <div>
            <img src="<%= comment.createdBy.profileImageURL %>" width="50px" />
            <%= comment.createdBy && comment.createdBy.name %>
            <pre><%= comment && comment.content %></pre>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="blog-page-form">
      <div class="container mt-3">
        <img
          src="<%= blog && blog.coverImageURL %>"
          width="700px"
          height="380px"
        />
        <form
          id="updateForm"
          action="/blog/update/<%= blog._id %>"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- <div class="mb-3">
            <label for="coverImage" class="form-label">Cover Image</label>
            <input
              type="file"
              class="form-control"
              id="coverImage"
              name="coverImage"
              aria-describedby="coverImage"
            />
          </div> -->
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
              value="<%= blog && blog.title %>"
            />
          </div>
          <div class="mb-3">
            <label for="body">Body</label>
            <textarea name="body" class="form-control" id="body">
<%= blog && blog.body %></textarea
            >
          </div>
          <div class="mb-3">
            <button id="submitBtn" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <%- include('./partials/scripts') %>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const deleteButtons = document.querySelectorAll(".delete-button");
        deleteButtons.forEach((button) => {
          button.addEventListener("click", async () => {
            const blogId = button.dataset.blogId;
            const confirmed = confirm(
              "Are you sure you want to delete this blog?"
            );
            if (confirmed) {
              try {
                const response = await fetch(`/blog/delete/${blogId}`, {
                  method: "DELETE",
                });
                console.log(response.ok);
                if (response.ok) {
                  // Optionally handle success response
                  console.log("Blog deleted successfully");
                  // Redirect or update UI as needed
                  window.location.href = "/";
                } else {
                  console.error("Failed to delete blog:", response.statusText);
                }
              } catch (error) {
                console.error("Failed to delete blog:", error.message);
              }
            }
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const editButton = document.querySelector(".edit-button");
        const blogPage = document.querySelector(".blog-page");
        const blogPageForm = document.querySelector(".blog-page-form");

        editButton.addEventListener("click", () => {
          // Toggle visibility of blog-page and blog-page-form
          blogPage.style.display = "none";
          blogPageForm.style.display = "block";
        });
        const updateForm = document.getElementById("updateForm");
        const submitBtn = document.getElementById("submitBtn");

        submitBtn.addEventListener("click", async (event) => {
          event.preventDefault();

          const updateForm = document.getElementById("updateForm");
          const formData = new FormData(updateForm);
          const formDataObject = {};
          formData.forEach((value, key) => {
            formDataObject[key] = value;
          });

          // console.log(formDataObject);
          try {
            const response = await fetch(updateForm.action, {
              method: "PATCH",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formDataObject),
            });
            if (response.ok) {
              console.log("Blog updated successfully");
              window.location.reload();
            } else {
              console.error("Failed to update blog:", response.statusText);
            }
          } catch (error) {
            console.error("Failed to update blog:", error.message);
          }
        });
      });
    </script>
  </body>
</html>
